
.calendar-event {
  align-items: flex-start;
  background: lightgreen;
  border-radius: 4px;
}

.calendar-event-info {
  flex-grow: 1;
  flex-basis: 82%;
}


.calendar-event-delete-button {
  appearance: none;
  background: none;
  border: 0;
  cursor: pointer;
  flex-shrink: 0;
  height: 23px;
  font-size: 18px;
  line-height: 20px;
  margin: 0 0 0 10px;
  padding: 0;
  width: 23px;
}
